{% extends 'quotations/base.html' %}
{% block title %}Quotation created on {{quotation.created}}{% endblock %}
{% block content %}
<p>{{quotation.vehiculeYearMake}}</p>
<p>{{quotation.vehiculeModel}}</p>
<p>{{quotation.vehiculeNumber}}</p>
<p>{{quotation.vehiculePrice}}</p>
<ul>
    {% for item in quotation.coverages.all %}
    <li>{{ item.description }}</li>
    {% endfor %}
</ul>
<h5>Quotation price : RM {{quotation.quotationPrice}}</h5>
<a role="button" href="/" class="btn btn-secondary">Home</a>
{% endblock %}