{% extends 'quotations/base.html' %}

{% block title %}My quotations{% endblock %}

{% block content %}
<table class="table table-hover table-dark">
    <thead class="thead-light">
        <tr>
            <th scope="col">Model</th>
            <th scope="col">Year</th>
            <th scope="col">Vehicule Price</th>
            <th scope="col">Cotation Price</th>
            <th scope="col">Coverage </th>
        </tr>
    </thead>
    <tbody>

        {% for q in quotations.all %}
        <tr class="clickable" onclick="window.location='quotation/{{q.id}}'">
            <td>{{q.vehiculeModel}}</td>
            <td>{{q.vehiculeYearMake}}</td>
            <td>{{q.vehiculePrice}}</td>
            <td>{{q.quotationPrice}}</td>
            <td>
                <ul>
                    {% for item in q.coverages.all %}
                    <li>{{ item.description }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor%}
    </tbody>
</table>
<form method="POST" action="create">
    <button type="submit" class="btn btn-primary" name="newQuotation">Create new Quotation</button>
</form>
{% endblock %}